* {
    margin: 0px;
    padding: 0px;
}

body {
   background-color: #101218;
   color: white;
}


.conteiner_geral {
    padding: 8px;
    /* margin-top: 12px; */

}

.menu_da_direita ol {
    height: auto;
    font-size: 13px;
    font-family: arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: end;
}

li {
    list-style: none;
}

.mais_menu {
    margin-bottom: 3px;
    margin-left: 16px;
    padding: 4px;
    /* background-color: blue; */


}
 

.hover {
    /* background-color: red; */
    padding: 6px;
    display: flex;
    align-items: center;
    /* margin-bottom: 2PX; */
}



#gmail , #imagens {
    margin-bottom: 2px;
}

#imagens {
    margin-left: 15px;
}
 


.mais_menu:hover {
    border-radius: 20px;
    background-color:#3d42545f
    ;
}

.conteiner_menu {
    width: 18.8px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1px;
}

.squares_pesquisa {
    border-radius: 100%;
    margin-top: 1.0px;
    margin-left: 1.2px ;
    margin-right:1.2px ;
    margin-bottom: 1.1px;
    width: 3.8px;
    height: 3.8px;
    background-color:rgba(255, 255, 255, .87);;
}

.image_perfil{
    margin-left: 8px;
    margin-right: 2px;
    padding: 4px;
    width: 32px;
}

img {
    /* border: 20px solid black; */
    border-radius: 30px;
    width: 100%;
    height: auto;
}

picture {
    width: 272px;
    height: 92px;
}


article {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 489px;
}

.logogoogle {
    width: 100%;
    height: auto;
}

.googel {
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    /* margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 90px;
    text-align: center;
    font-weight: 500;
    letter-spacing: -4px; Diminui o espaçamento */
}

form {
    display: flex;
    flex-direction: column;
}

.botoes {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search_div {
    user-select: none;
    margin-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    background-color: #3f4454;
    display: flex;
    width: 584px;
    box-sizing: border-box;
}

.icone_pesquisa {
    user-select: none;
    display: flex;
    align-items: center;
    border-radius: 30px;
    height: 52px;
    /* width: 47px; */
    background-color: #3f4454;
}

.icone_restantes {
    border-radius: 30px;
    height: 52px;
    width: 124px;
    background-color: #3f4454;
}


#barra_pesquisa {
    text-decoration: none;
    font-size: 17px;
    color: white;
    outline: none;
    background-color: #3f4454;
    /* border-radius: 50px; */
    border: none;
    /* width: 584px; */
    width: 405px;
    height: 52px;
}

.conteudo_add {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.botao {
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 25px;
    color: white;
    background-color: #3f4454 ;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 15px ;
    padding-right: 15px;
}

footer .conteiner_footer{
    background-color: #1f2128;    ;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.tex1 p {
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #cdcdcd;
}

.text2 a {
    font-size: 13px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin-left: 5px;
    color: #7eaaff;
}


.pesquisa ul , .privacidade ul {
    display: flex;

}

.twoline {
    display: flex;
    justify-content: space-between;
}

.oneline {
    border-bottom: 1px solid #292c32;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.twoline {
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 15px;
}

.conteiner_footer li {
    font-size: 15.5px;
    margin-left: 20px;
}



.icon {
    user-select: none;
    padding-right: 20px;
    padding-left: 10px;
    color: #9aa0a6;
    display: flex ;
    text-align: center;
    font-size: 15px;
}